#navbar {
    background-color: #060809 !important;
}

#navText {
    color: white;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 600;
    color: white;
    text-decoration: none !important;
}

#navButton {
    margin-left: 15px;
    margin-top: 10px !important;
    padding: 10px 20px ;
    background-color:  #048002;
    text-decoration: none;
    border-radius: 10px;
    color: white;
    font-weight: 600;
}

@media screen      
and (max-device-width : 640px)  
{
    .navbar-toggler {
        color: white !important;
    }
}
.navbar-toggler {
    color: white !important;
}